<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>小书店</title>
    
    <link href="__ADMIN__/css/icon.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/templatemo-style.css" rel="stylesheet">
      <script src="__ADMIN__/js/public.js"></script>
  </head>
  <body>
    <div class="templatemo-flex-row">
      {include file="public/sidebar"/}
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-container">
            <img src="__ADMIN__/images/system/index.jpeg">
        </div>
      </div>
    </div>
  </body>
</html>