<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>小书店</title>
    
    <link href="__ADMIN__/css/icon.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/templatemo-style.css" rel="stylesheet">
      <script src="__ADMIN__/js/public.js"></script>
  </head>
  <body>
    <div class="templatemo-flex-row">
      {include file="public/sidebar"/}
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-container">
            <!--main content-->
            <img src="__ADMIN__/images/system/03.jpg">
          <footer class="text-right">
            <p>Copyright &copy; 2048 Company Name
            | More Templates <a href="#" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
          </footer>         
        </div>
      </div>
    </div>
  </body>
</html>