<div class="templatemo-sidebar">
    <header class="templatemo-site-header">
        <div class="square"></div>
        <h1>小书店</h1>
    </header>
    <div class="profile-photo-container">
        <img src="__ADMIN__/images/system/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
        <div class="profile-photo-overlay"></div>
    </div>
    <nav class="templatemo-left-nav">
        <ul>
            <li><a href="{:url('Index/index')}" id="index"><img src="__ADMIN__/images/system/index.png" class="all">首页</a></li>
            <!--<li><a href="{:url('Activity/activity')}" id="activity"><img src="__ADMIN__/images/system/activity.png" class="all">活动</a></li>-->
            <li><a href="{:url('Goods/goods')}" id="goods"><img src="__ADMIN__/images/system/book.png" class="all">商品</a></li>
            <li><a href="{:url('Label/label','type=0')}" id="label"><img src="__ADMIN__/images/system/label.png" class="all">标签</a></li>
            <li><a href="{:url('Order/order')}" id="order"><img src="__ADMIN__/images/system/payed.png" class="all">订单</a></li>
            <li><a href="{:url('author/author')}" id="author"><img src="__ADMIN__/images/system/users.png" class="all">作者</img></a> </li>
            <li><a href="{:url('Buffer/buffer')}" id="buffer"><img src="__ADMIN__/images/system/buffer.png" class="all">缓冲</a></li>
            <li><a href="{:url('Login/login')}" id="logout"><img src="__ADMIN__/images/system/logout.png" class="all">注销</a></li>
        </ul>
    </nav>
</div>
