<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小书店</title>

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/public.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/header.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/footer.css">

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/index/index.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/index/shutter.css">


    <script src="__INDEX__/js/public/jquery.min.js"></script>
    <script src="__INDEX__/js/index/sHover.min.js"></script>
    <script src="__INDEX__/js/public/sHover.js"></script>


</head>
<body>

{include file="public/header"/}

<div class="content">
    <div class="carousel">
        <div class="shutter-img">
            {foreach $carousel as $data}
            <a href="javascript:;" data-shutter-title="{$data['activity_name']}"><img src="__ADMIN__/images/activity/{$data['activity_pic_local']}" alt="#"></a>
            {/foreach}
        </div>
        <ul class="shutter-btn">
            <li class="prev"></li>
            <li class="next"></li>
        </ul>
        <div class="shutter-desc">
            <p>Iron Man</p>
        </div>
    </div>
    <div class="rushed">
        <h3 class="rushedH3">
            <i class="iconfont">&#xe6f0;</i>
            每日推荐
        </h3>
        <div class="rushedBox">
            <div class="rushedBoxImg">
                <img src="__INDEX__/images/other/reshed.png">
            </div>
            {foreach $rushed as $data}
            <div class="sHoverItem">
                <img src="__ADMIN__/images/goods/{$data['goods_img']}">
                <div class="rushedPrice">
                    <span class="priceRed">￥{$data["goods_current_price"]}</span><span class="priceGray">￥{$data["goods_original_price"]}</span>
                </div>
				<span class="sIntro">
					<a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data['goods_id']])}" class="sIntroA">
                        <div class="sIntroATitle">
                            {$data["goods_name"]}
                        </div>
                        <div class="sIntroADashed"></div>
                        <div class="sIntroAInfo">
                            <p>作者：{$data["goods_author"]}</p>
                            <p>{$data["goods_press"]}</p>
                        </div>
                    </a>
				</span>
            </div>
            {/foreach}

        </div>
    </div>
    <div class="focus">
        <div class="focusTitle">
            <h3>
                <i class="iconfont">&#xe6f6;</i>
                精品推荐
            </h3>
        </div>
        <div class="tabbox">
            <div class="tab">
                <ul class="tabUl">
                    <!--<li class="tabLiOn"><a href="javascript:;">文学</a></li>-->
                    {foreach $focus as $data}
                    <li><a href="javascript:;">{$data['label']}</a></li>
                    {/foreach}

                </ul>
            </div>
            <div class="tabContent">
                <ul class="tabContentUl">
                    {foreach $focus as $data}
                    <li>
                        <div class="focusBox">
                            {foreach $data['goods'] as $data2}
                            <div class="sHoverItem">
                                <img src="__ADMIN__/images/goods/{$data2['goods_img']}">
                                <div class="rushedPrice">
                                    <span class="priceRed">￥{$data2['goods_current_price']}</span><span class="priceGray">￥{$data2['goods_original_price']}</span>
                                </div>
                                <span class="sIntro">
                                    <a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data2['goods_id']])}" class="sIntroA">
                                        <div class="sIntroATitle">
                                            {$data2['goods_name']}
                                        </div>
                                        <div class="sIntroADashed"></div>
                                        <div class="sIntroAInfo">
                                            <p>作者：{$data2['goods_author']}</p>
                                            <p>{$data2['goods_press']}</p>
                                        </div>
                                    </a>
                                </span>
                            </div>
                            {/foreach}
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="bestSell">
            <div class="bestSellTitle">
                畅销排行榜
            </div>
            <div class="bestSellBox">
                <ul>
                    {foreach $bestsell as $data}
                    <li class="bestSellLi">
                        <a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data['goods']['goods_id']])}">
                            <div class="bestSellIcon">
                                <i class="iconfont">&#xea17;</i>
                                <span>{$data['id']}</span>
                            </div>
                            <div class="bestSellImg">
                                <img src="__ADMIN__/images/goods/{$data['goods']['goods_img']}">
                            </div>
                            <div class="bestSellPrice">
                                <span class="priceRed">￥{$data['goods']['goods_current_price']}</span>
                                <span class="priceGray">￥{$data['goods']['goods_original_price']}</span>
                            </div>
                            <div class="bestSellText">
                                {$data['goods']['goods_name']}
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <div class="bookAuthor">
        <div class="bookAuthorTitle">
            <h3>
                <i class="iconfont">&#xe76a;</i>
                作家推荐
            </h3>
        </div>
        <div class="tabbox">
            <div class="tab">
                <ul class="tabUl">
                    {foreach $author as $data}
                    <li><a href="javascript:;">{$data['author']}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="tabContent">
                <ul class="tabContentUl">
                    {foreach $author as $data}
                    <li class="tabContentUlLi">
                        <div class="bookAuthorBox">
                            <div class="bookAuthorImg">
                                <img src="__ADMIN__/images/author/{$data['img']}">
                            </div>
                            <div class="bookAuthorContent">
                                <div class="bookAuthorName">
                                    {$data['author']}
                                </div>
                                <div class="bookAuthorDesc">
                                    {$data['about']}
                                </div>
                                <div class="bookAuthorGoods">
                                    <ul class="bookAuthorGoodsUl">
                                        {foreach $data['goods'] as $data2}
                                        <li class="bookAuthorGoodsUlLi">
                                            <a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data2['goods_id']])}" class="bookAuthorGoodsA">
                                                <img src="__ADMIN__/images/goods/{$data2['goods_img']}">
                                                <div class="bookAuthorGoodsName">
                                                    {$data2['goods_name']}
                                                </div>
                                                <div class="bookAuthorGoodsPrice">
                                                    <span class="priceRed">￥{$data2['goods_current_price']}</span>
                                                    <span class="priceGray">￥{$data2['goods_original_price']}</span>
                                                </div>
                                            </a>
                                        </li>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}

</body>
<script src="__INDEX__/js/public/header.js"></script>
<script src="__INDEX__/js/index/velocity.js"></script>
<script src="__INDEX__/js/index/shutter.js"></script>
<script src="__INDEX__/js/index/indexFoot.js"></script>
</html>