<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小书店</title>

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/public.css">

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/login/login.css">

</head>
<body>

<div class="logo">
    <a href="{:url('Index/index')}">
        <img src="__INDEX__/images/logo/logo.png">
    </a>
</div>
<div class="content">
    <div class="login">
        <div class="loginImg">
            <a href="javascript:;">
                <img src="__INDEX__/images/login/login.jpg">
            </a>
        </div>
        <div class="loginMain">

                <div class="logoRow">
                    <label>
                        <i class="iconfont">&#xe6cb;</i>
                    </label>
                    <input id="inputUserId" class="inputText" type="text" placeholder="请输入注册时的手机号码">
                </div>
                <div class="logoRow">
                    <label>
                        <i class="iconfont">&#xea2f;</i>
                    </label>
                    <input id="inoutPassword" class="inputText" type="password" placeholder="请输入密码">
                </div>
                <div class="logoRow logoSubmit">
                    <input id="loginSubmit" class="inputSubmit" type="submit" value="登录">
                </div>
                <div class="logoOther">
                    <a href="{:url('Resign/resign')}" class="loginResign">
                        免费注册
                    </a>
                    <a href="{:url('Forget/forget')}" class="loginForget">
                        忘记密码
                    </a>
                </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="__INDEX__/js/public/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/login/login.js"></script>

</html>