<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小书店</title>

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/public.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/header.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/nav.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/footer.css">

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/aboutus/aboutus.css">


    <script src="__INDEX__/js/public/jquery.min.js"></script>

</head>
<body>


{include file="public/header"/}
{include file="public/nav"/}

<div class="content">
    <div class="aboutusTab">
        <i class="iconfont">&#xe74a;</i>
        成员介绍
    </div>
    <div class="aboutus">
        <div class="aboutusRow">
            <div class="aimg">
                <img src="__INDEX__/images/aboutus/xieyun.jpg">
            </div>
            <div class="aboutInfo">
                <div class="myNickname">
                    携云
                </div>
                <div class="myInfoRow">
                    <label>姓名：</label>陈杰涛
                </div>
                <div class="myInfoRow">
                    <label>组内负责：</label>前端开发
                </div>
                <div class="myInfoRow">
                    <label>学校/院系：</label>广州大学华软软件学院/计算机系
                </div>
                <div class="myInfoRow">
                    <label>班级：</label>17级计算机科学与技术一班
                </div>
                <div class="myInfoRow">
                    <label>联系号码：</label>13668929852
                </div>
            </div>
        </div>
        <div class="aboutusRow">
            <div class="aimg">
                <img src="__INDEX__/images/aboutus/jianqiu.jpg">
            </div>
            <div class="aboutInfo">
                <div class="myNickname">
                    eye
                </div>
                <div class="myInfoRow">
                    <label>姓名：</label>郑健秋
                </div>
                <div class="myInfoRow">
                    <label>组内负责：</label>后台开发
                </div>
                <div class="myInfoRow">
                    <label>学校/院系：</label>广州大学华软软件学院/计算机系
                </div>
                <div class="myInfoRow">
                    <label>班级：</label>17级计算机科学与技术一班
                </div>
                <div class="myInfoRow">
                    <label>联系号码：</label>15728283805
                </div>
            </div>
        </div>
        <div class="aboutusRow">
            <div class="aimg">
                <img src="__INDEX__/images/aboutus/tudou.jpg">
            </div>
            <div class="aboutInfo">
                <div class="myNickname">
                    土豆
                </div>
                <div class="myInfoRow">
                    <label>姓名：</label>陈文康
                </div>
                <div class="myInfoRow">
                    <label>组内负责：</label>运维及后台开发
                </div>
                <div class="myInfoRow">
                    <label>学校/院系：</label>广州大学华软软件学院/计算机系
                </div>
                <div class="myInfoRow">
                    <label>班级：</label>17级计算机科学与技术一班
                </div>
                <div class="myInfoRow">
                    <label>联系号码：</label>15919698189
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}

</body>
<script src="__INDEX__/js/public/header.js"></script>
<script src="__INDEX__/js/aboutus/aboutus.js"></script>
</html>