<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小书店</title>

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/public.css">

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/resign/step.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/resign/resign.css">

</head>

<body>
<div class="logo">
    <a href="{:url('Index/index')}">
        <img src="__INDEX__/images/logo/logo.png">
    </a>
</div>
<div class="content">
    <div class="resign">

            <div class="eis-stepContents">
                <div class="eis-stepContent">
                    <div class="resignRow">
                        <label>手机号码：</label>
                        <input id="getUserId" class="inputText" type="text">
                        <a id="getCode" href="javascript:;" class="getCode">
                            发送验证码
                        </a>
                        <span id="getUserIdTip" class="getUserIdTip"></span>
                    </div>
                    <div class="resignRow">
                        <label>验证码：</label>
                        <input id="showCode" class="inputText" type="text">
                        <span id="showCodeTip" class="getUserIdTip showCodeTip"></span>
                    </div>
                </div>
                <div class="eis-stepContent">
                    <div class="resignRow">
                        <label>密码：</label>
                        <input id="userPassword" class="inputText" type="password">
                    </div>
                    <div class="resignRow">
                        <label>确认密码：</label>
                        <input id="userRePassword" class="inputText" type="password">
                        <span id="showRePasswordTip" class="getUserIdTip showCodeTip"></span>
                    </div>
                </div>
            </div>

    </div>
</div>
<script type="text/javascript" src="__INDEX__/js/public/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/resign/step.js"></script>
<script type="text/javascript" src="__INDEX__/js/forget/forget.js"></script>

</body>
</html>