<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小书店</title>

    <link href="__ADMIN__/css/icon.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/templatemo-style.css" rel="stylesheet">
    <link href="__ADMIN__/css/goods.css" rel="stylesheet">
    <script src="__ADMIN__/js/jquery-1.11.2.min.js"></script>
    <script src="__ADMIN__/js/goods.js"></script>
    <script src="__UEDITOR__/ueditor.config.js"></script>
    <script src="__UEDITOR__/ueditor.all.min.js"></script>
</head>
<body>
<div class="templatemo-flex-row">
    {include file="public/sidebar"/}
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-container">
            {include file="goods/headerBar"/}
            {if $type=="query"}
            {include file="goods/query"/}
            {elseif $type=="add"}
            {include file="goods/add"/}
            {elseif $type=="delete"}
            {include file="goods/delete"/}
            {elseif $type=="update"}
            {include file="goods/update"/}
            {/if}
        </div>
    </div>
</div>
</body>
</html>