<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小书店</title>

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/public.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/header.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/nav.css">
    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/public/footer.css">

    <link  rel="stylesheet" type="text/css" href="__INDEX__/css/orderList/orderList.css">


    <script src="__INDEX__/js/public/jquery.min.js"></script>
    <script src="__INDEX__/js/index/sHover.min.js"></script>


</head>
<body>

{include file="public/header"/}
{include file="public/nav"/}

<div class="content">
    <div class="orderTitle">
        <i class="iconfont">&#xe728;</i>
        我的订单
    </div>

    <div class="orderList">
        <div class="listThead">
            <div class="listInfo">
                订单详情
            </div>
            <div class="listName">
                收货人
            </div>
            <div class="listPrice">
                金额
            </div>
            <div class="listState">
                状态
            </div>
            <div class="listOperation">
                操作
            </div>
        </div>
        {foreach $orderlist as $data}
        <div class="listGroup">
            <div class="listRow">
                <div class="rowTab">
                    <div class="rowTabTime">
                        {$data['order_createtime']}
                    </div>
                    <div class="rowTabNum">
                        订单号：{$data['order_id']}
                    </div>
                </div>
                <div class="listInfo">
                    {foreach $data['goods'] as $data2}
                    <div class="listInfoRow">
                        <div class="listInfoRowA">
                            <a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data2['goods_id']])}">
                                <div class="listInfoRowAImg">
                                    <img src="__ADMIN__/images/goods/{$data2['goods_img']}">
                                </div>
                                <div class="listInfoRowAName">
                                    {$data2['goods_name']}
                                </div>
                            </a>
                        </div>
                        <div class="listInfoRowNum">
                            ×{$data2['goods_num']}
                        </div>
                        <div class="listInfoRowOp">
                            <a href="{:url('Goodsdetail/goodsdetail',['goods_id'=>$data2['goods_id']])};">查看商品</a>
                        </div>
                    </div>
                    {/foreach}
                </div>
                <div class="listName">
                    {$data['order_gain_name']}
                </div>
                <div class="listPrice">
                    ￥ {$data['order_sum']}
                </div>
                <div class="listState">
                    {$data['order_state']}
                </div>
                <div class="listOperation">
                    <a href="{:url('Order/order',['order_id'=>$data['order_id']])}" class="carDelete">
                        查看订单
                    </a>
                </div>
            </div>

        </div>
        {/foreach}

    </div>


</div>

{include file="public/footer" /}

</body>

<script src="__INDEX__/js/public/header.js"></script>
<script src="__INDEX__/js/order/order.js"></script>
</html>