
<header>
    <div class="side">
        <div class="sideMain">
            <div class="sideMainText">
                <p>欢迎来到 小书店 ！</p>
            </div>
            <div class="sideMainNav">
                <ul class="sideMainMenu">
                    <li class="sideMainMenuLi">
                        <a id="headerLogin" href="javascript:;" class="sideMainMenuInfo">
                            <i class="iconfont">&#xe6ac;</i>
                            <span id="headerUserNickname" class="sideMainMenuUsername">
                                {if condition="$Think.session.userInfo.user_nickname == null" }
                                    登录
                                {else/}
                                    {$Think.session.userInfo.user_nickname}
                                {/if}
                            </span>
                        </a>
                        <ul class="sideMainSubmenu">
                            <li class="sideMainSubmenuLi">
                                <a id="headerUserInfo" href="javascript:;" class="sideMainSubmenuLiA">
                                    我的信息
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="javascript:headerCar();" class="sideMainSubmenuLiA">
                                    我的购物车
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="javascript:headerOrderList();" class="sideMainSubmenuLiA">
                                    我的订单
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a id="getout" href="javascript:;" class="sideMainSubmenuLiA">
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sideMainMenuLi">
                        <span class="sideMainMenuLiSpacer"></span>
                        <i class="iconfont">&#xe66c;</i>
                        <span class="sideMainMenuPhone">手机小书店</span>
                        <ul class="sideMainSubmenu">
                            <li class="sideMainSubmenuLi sideMainSubmenuLiQRcode">
                                <img src="__INDEX__/images/QRcode/QRcode.png" class="sideMainMenuQRcode">
                            </li>
                        </ul>
                    </li>
                    <li class="sideMainMenuLi">
                        <span class="sideMainMenuLiSpacer"></span>
                        <i class="iconfont">&#xe696;</i>
                        <span class="sideMainMenuPhone">帮助中心</span>
                        <ul class="sideMainSubmenu sideMainSubmenuHelp">
                            <li class="sideMainSubmenuLi">
                                <a href="javascript:;" class="sideMainSubmenuLiA">
                                    客服中心
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="javascript:;" class="sideMainSubmenuLiA">
                                    售后服务
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="{:url('Aboutus/aboutus')}" class="sideMainSubmenuLiA">
                                    关于我们
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="advertising">
        <div>
            <img src="__INDEX__/images/advertising/top.jpg">
        </div>
    </div>
    <div class="headerMain">
        <div class="headerLogo">
            <a href="{:url('Index/index')}">
                <img src="__INDEX__/images/logo/logo.png">
            </a>
        </div>
        <div class="headerNav">
            <ul class="navlist">
                <li class="navAll">
                    <div class="leftNav">
                        <ul class="leftNavlist">
                            {foreach $label as $data}
                            <li class="leftNavlistItem">
                                <a href="javascript:;">
                                    {$data['label_name']}
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavUl">
                                        {foreach $data['child'] as $data2}
                                        <li class="childrenNavUlLi">

                                            <a href="{:url('Goodslist/goodslist',['type'=>1,'info'=>$data2['label_id']])}" class="childrenNavUlLiA">{$data2['label_name']}</a>
                                            <div class="childrenNavUlLiADiv">
                                                {foreach $data2['child2'] as $data3}
                                                <a href="{:url('Goodslist/goodslist',['type'=>1,'info'=>$data3['label_id']])}">{$data3['label_name']}</a>
                                                {/foreach}
                                            </div>
                                        </li>
                                        {/foreach}

                                    </ul>
                                </div>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="headerSearch">
                        <div class="headerSearchBox">
                            <div class="headerSearchForm">
                                <input id="headerSearchText" type="text" class="headerSearchText" placeholder="请输入书名或作者或出版社">
                                <input id="headerSearchSubmit" type="submit" class="headerSearchSubmit" value="&#xe69f;">
                            </div>
                        </div>
                        <!--                        热搜-->
                        <div class="headerTopSearch">
                            <ul class="headerTopSearchUl">
                                {foreach $topsearch as $data}
                                <li class="headerTopSearchUlList"><a href="http://localhost:88/LittleBookshops/public/index/goodslist/goodslist.html?type=2&info={$data['top_search_text']}" class="headerTopSearchUlListA">{$data['top_search_text']}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="headerCar">
                        <a href="javascript:headerCar();" class="headerCarA">
                            <samp class="headerCarAText">我的购物车</samp>
                            <i class="iconfont">&#xe8e8;</i>
                            <i id="headerCarCount" class="headerCarCount">0</i>
                        </a>
                    </div>
                </li>
                <li class="item">
                    <div class="headerQRcode">
                        <div class="headerQRcodeBox">
                            <samp class="headerQRcodeText">扫码关注</samp>
                            <i class="iconfont">&#xe63d;</i>
                            <div class="headerQRcodeHov">
                                <img src="__INDEX__/images/QRcode/QRcode.png">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
