<header>
    <div class="side">
        <div class="sideMain">
            <div class="sideMainText">
                <p>欢迎来到 XX 网上书店！</p>
            </div>
            <div class="sideMainNav">
                <ul class="sideMainMenu">
                    <li class="sideMainMenuLi">
                        <a href="{:url('Login/login')}" class="sideMainMenuInfo">
                            <i class="iconfont">&#xe6ac;</i>
                            <span class="sideMainMenuUsername">登录登录登录登录登录登录</span>
                        </a>
                        <ul class="sideMainSubmenu">
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    我的信息
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    我的购物车
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    我的订单
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sideMainMenuLi">
                        <span class="sideMainMenuLiSpacer"></span>
                        <i class="iconfont">&#xe66c;</i>
                        <span class="sideMainMenuPhone">手机XX</span>
                        <ul class="sideMainSubmenu">
                            <li class="sideMainSubmenuLi sideMainSubmenuLiQRcode">
                                <img src="images/QRcode/QRcode.png" class="sideMainMenuQRcode">
                            </li>
                        </ul>
                    </li>
                    <li class="sideMainMenuLi">
                        <span class="sideMainMenuLiSpacer"></span>
                        <i class="iconfont">&#xe696;</i>
                        <span class="sideMainMenuPhone">帮助中心</span>
                        <ul class="sideMainSubmenu sideMainSubmenuHelp">
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    客服中心
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    售后服务
                                </a>
                            </li>
                            <li class="sideMainSubmenuLi">
                                <a href="#" class="sideMainSubmenuLiA">
                                    关于我们
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="advertising">
        <div>
            <img src="images/advertising/top.jpg">
        </div>
    </div>
    <div class="headerMain">
        <div class="headerLogo">
            <a href="#">
                <!--                logo-->
            </a>
        </div>
        <div class="headerNav">
            <ul class="navlist">
                <li class="navAll">
                    <div class="leftNav">
                        <ul class="leftNavlist">
                            <li class="leftNavlistItem">
                                <a href="#">
                                    文学
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavUl">
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>
                                        <li class="childrenNavUlLi">
                                            <a href="#" class="childrenNavUlLiA">嗡嗡嗡嗡</a>
                                            <div class="childrenNavUlLiADiv">
                                                <a href="#">啦啦啦</a>
                                                <a href="#">啦啦啦</a>
                                                <a href="#">事实上</a>
                                                <a href="#">呃呃呃</a>
                                                <a href="#">小行星</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    XXX
                                    <i class="iconfont">&#xe673;</i>
                                </a>
                                <div class="childrenNav">
                                    <ul class="childrenNavlist">

                                    </ul>
                                </div>
                            </li>
                            <li class="leftNavlistItem">
                                <a href="#">
                                    首页
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <div class="headerSearch">
                        <div class="headerSearchBox">
                            <form action="" class="headerSearchForm">
                                <input type="text" class="headerSearchText">
                                <input type="submit" class="headerSearchSubmit" value="&#xe69f;">
                            </form>
                        </div>
                        <!--                        热搜-->
                        <div class="headerTopSearch">
                            <ul class="headerTopSearchUl">
                                <li class="headerTopSearchUlList"><a href="#" class="headerTopSearchUlListA">啦啦啦</a></li>
                                <li class="headerTopSearchUlList"><a href="#" class="headerTopSearchUlListA">啦啦啦</a></li>
                                <li class="headerTopSearchUlList"><a href="#" class="headerTopSearchUlListA">啦啦</a></li>
                                <li class="headerTopSearchUlList"><a href="#" class="headerTopSearchUlListA">啦啦啦</a></li>
                                <li class="headerTopSearchUlList"><a href="#" class="headerTopSearchUlListA">啦啦啦</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="headerCar">
                        <a class="headerCarA">
                            <samp class="headerCarAText">我的购物车</samp>
                            <i class="iconfont">&#xe8e8;</i>
                            <i class="headerCarCount">100</i>
                        </a>
                    </div>
                </li>
                <li class="item">
                    <div class="headerQRcode">
                        <div class="headerQRcodeBox">
                            <samp class="headerQRcodeText">扫码关注</samp>
                            <i class="iconfont">&#xe63d;</i>
                            <div class="headerQRcodeHov">
                                <img src="images/QRcode/QRcode.png">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>