<div class="nav">
    <div class="navBox">
        <ul class="navUl">
            <li class="navUlLi">
                <a href="javascript:;" class="navUlLiA navAllShow">
                    全部商品分类
                    <i class="iconfont">&#xe699;</i>
                </a>
            </li>
            <li class="navUlLi"><a href="{:url('Index/index')}" class="navUlLiA">首页</a> </li>
            <li class="navUlLi"><a href="/LittleBookshops/public/index/goodslist/goodslist/type/1/info/12.html" class="navUlLiA">文学</a> </li>
            <li class="navUlLi"><a href="/LittleBookshops/public/index/goodslist/goodslist/type/1/info/11.html" class="navUlLiA">小说</a> </li>
        </ul>
    </div>
</div>