<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小书店</title>
    <link href="__ADMIN__/css/icon.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/templatemo-style.css" rel="stylesheet">
    <link href="__ADMIN__/layui/css/layui.css" rel="stylesheet">
    <link href="__ADMIN__/css/label.css" rel="stylesheet">
    <script src="__ADMIN__/js/jquery-1.11.2.min.js"></script>

</head>
<body>
<div class="templatemo-flex-row">
    {include file="public/sidebar"/}
    <div id="content" style="background-color: white; width: 100%;">

        <table id="data" class="table table-striped table-bordered table-hover" style="margin-top: 10%;">
            <thead>
            <th>购物车id</th>
            <th>用户id</th>
            <th>用户名</th>
            <th>商品id</th>
            <th>商品数量</th>
            <th>商品总价</th>
            <th>订单id</th>
            <th>操作</th>
            </thead>

            <tbody>
            {volist name='list' id='car'}
            <tr>
                <td>{$car.car_id}</td>
                <td>{$car.user_id}</td>
                <td>1</td>
                <td>{$car.goods_id}</td>
                <td>{$car.goods_num}</td>
                <td>{$car.car_id}</td>
                <td>1</td>
                <td>删除  修改</td>
            </tr>
            {/volist}
            </tbody>


        </table>

        {$list->render()}
    </div>

</div>
<script src="__ADMIN__/layui/layui.js"></script>

</body>
</html>